<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>marry</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#marry1">对婚姻的看法</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        </div>
        <div class="col-xs-8 col-md-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">

                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class=""><a href="#1">为什么不婚独身的人越来越多</a></li>
                        <li role="presentation"><a href="#2">什么样子的婚姻让人感到必须要离婚</a></li>
                        <li role="presentation"><a href="#3">30 多岁的独身人士是否做好了一辈子不结婚的准备</a></li>
                    </ul>

                    <div id="1" style="height: 1000px">1000</div>
                    <div id="2" style="height: 1000px">2000</div>
                    <div id="3" style="height: 1000px">3000</div>



                </div>
            </div>
        </div>
    </div>





</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>